# ignore all files in the Data directory
Data/*.csv

# ignore all cache files
.ipynb_checkpoints/

# ignore Python cache files
__pycache__/

# ignore MacOS system files
.DS_Store

tempCodeRunnerFile.py